* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.navigation {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: rgb(213, 214, 222);
    position: sticky;
    top: 0px;
    z-index: 100;
}

.navelement {
    height: 8vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 5px; /* Added margin to create space between items */
}

#textbar {
    width: 100%;
    margin: 10px auto;
}

#head ul {
    flex-direction: column;
    align-items: center;
}

li {
    padding: 1rem 0;
}

.contents {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 50px 20px;
}

.data,
.images {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px; /* Added margin to create space between items */
}

.section {
    padding: 100px 20px;
}

.sec-item {
    width: 100%;
    padding: 17px 20px;
    grid-template-columns: 1fr;
}

.insrt {
    height: 100%;
}

.sub-heading {
    top: 10vh;
    margin-left: 20px;
}

#textbar {
    width: 100%;
    margin: 10px 0;
}

@media only screen and (max-width: 1240px) {
    .contents {
        padding: 50px 20px;
    }

    .data,
    .images {
        padding: 20px;
        margin-bottom: 20px;
    }

    .section {
        padding: 100px 20px;
    }

    .sec-item {
        padding: 17px 20px;
        grid-template-columns: 1fr;
    }

    .insrt {
        height: 100%;
    }

    .sub-heading {
        top: 10vh;
        margin-left: 20px;
    }

    #textbar {
        width: 100%;
        margin: 10px 0;
    }
}
.showinstructonclick{
    width: 0px;
    opacity: 0;
    
}
.showinstruct{
    opacity: 1;
    /* border: 2px solid rgba(207, 205, 205, 0.416);
    background-color: rgb(252, 250, 250);
    border: 2px solid rgba(207, 205, 205, 0.416); */
    background-color: rgb(228, 215, 215);
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 10vw;
    height: 1vh;

}
#title{
    font-size: 2.6rem;
}
.head-title{
    font-size: 2.3rem;
}
.sub-header{
    font-size: 1.2rem;
}