.navigation{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    padding: 30px;
}
#head{
    border: 2px solid black;
    width: 100vw;
    padding: 0px;

}
.navelement ul li{
    padding: 10vw;
    margin: 0px;
}
#head ul{
    width: 100px;
    padding: 0px;
}
#searchbar{
    width: ;
}